
/* Header ---------------------------------------------------------- */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 2% 0 2%;
}

.menu .logo {
    height: 8rem;
    width: auto;
}

.menu .icon {
    height: 1.5rem;
}

.menu .links {
    margin-right: 4%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Main ---------------------------------------------------------- */

.main {
    height: 700px;
    background-image: url(../images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.main .title {
    color: #ffffff;
    font-size: 3rem;
    padding-left: 4%;
}

.title em {
    font-family: Arizonia;
    font-size: 5rem;
}

/* Portfolio ---------------------------------------------------------- */

#portfolio {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    row-gap: 1rem;
    margin: 0 auto;
}

.port-img img {
    width: 25rem;
    height: auto;
    /* flex-basis: auto; */
}


/* Team ---------------------------------------------------------- */

#team {
    background-color: rgba(65, 64, 64, 0.438);
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

#team p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
}

#team .name {
    font-size: 2rem;
}

.member-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.member-photo {
    border-radius: 50%;
    width: 40%;
}